@font-face {
    src: url("fonts/Texturina-VariableFont_opsz\,wght.woff2") format("woff2");
    font-family: 'Texturina';
    font-style: normal;
    font-weight: normal;
    }

    body{
        background-image: url("assets/wonk2.png"); background-size: cover;
      font-family: 'Texturina';
}
/* how the page wrapper will appear on mobile */
.page-wrapper{
    /* where to change the width of the columns on desktop view */
    width: min(100% - 3rem, 95ch);
    margin-inline: auto;
}
/* how the page wrapper appears on desktop */

@media only screen and (min-width:800px){
.page-wrapper{
display: grid;
grid-gap: 25px;
grid-template-columns: 1fr 1fr;
grid-template-rows: auto;
grid-template-areas: 
    "t t"
    "a a"
    "v v"
    "h h";
}

#history {
grid-area: h;
background-color: #5d12459c;;
 color: rgb(214, 107, 90);
}

#variations{
grid-area: v;
color: #a83285;
}

#alphabet {
grid-area: a;
 color: rgb(214, 107, 90);
}

#texture{
    grid-area:t;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
}
/* CSS for the footer */
footer{
    background-color: #2c07328f;
    color: #a83285;
    font-size: 30px;
    height:200px;
}

/* font styling area */
h2{
    color: #a83285;
    
    font-variation-settings: "opsz" 16, "wght" 900, "slnt" -8;
  
}

h3{
    color: rgb(214, 107, 90);
    font-weight:30; 
    text-align: center;
    font-size: 5em;
    animation: weightChange 7s infinite;
}
/* Full range of animation */
@keyframes weightChange {
    0%, 100%{
        font-variation-settings: "opsz" 12, "wght" 100;
    }
    50%{font-variation-settings: "opsz" 72, "wght" 900;
    }
}
/* animations for the variations section */
.weight{
    animation: weightVariations 5s infinite;
}
@keyframes weightVariations {
    0%, 100%{
        font-variation-settings: "opsz" 16, "wght" 200, "slnt" 0;
    }
    50%{font-variation-settings: "opsz" 16, "wght" 900, "slnt" 0;
    }
}
/* where the animation is for the width change */
.width{
    animation: widthVariations 5s infinite;
}
@keyframes widthVariations {
    0%, 100%{
        font-variation-settings: "opsz" 16, "wght" 200, "slnt" 0;
    }
    50%{font-variation-settings: "opsz" 16, "wght" 900, "slnt" 0;
    }
}

h5{
    font-size:20px;
  color: rgb(214, 107, 90);
    margin:10px;
}
/* variable font that changes on hover */
.variable-font{
    color: #a83285;
    font-weight:1 ;
    height:100vh;
    font-size: 10em;
    display:grid;
    place-content: center;
    margin: 0;
    text-align: center;
    font-variation-settings: "wght" 40, "wdth" 0, "XXXX" 1;
    transition: 
        font-weight 500ms,
        font-variation-settings 3s;
}

.variable-font:hover{
     color: rgb(214, 107, 90);
    font-weight:500 ;
    height: 200px;vh;
    font-size: 7em;
    display:grid;
    place-content: center;
    margin: 0;
    text-align: center;
    font-variation-settings: "wght" 120, "wdth" 0, "XXXX" 100;
}

